/* Reset default margin and padding for HTML and body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Style the iframe */
iframe {
    width: 100%;
    height: auto;
    border: 0;
    overflow: hidden;
}

/* Style the .content container */
.content {
    display: flex;
    /*justify-content: space-between;*/
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

/* Style the left side of the content */
.left {
    width: 30%;
}

/* Style the right side of the content */
.right {
  
    max-width: 600px;
    padding: 20px;
}

.btn1{
    background-color: #f1f3f6;
    color: black;
    border: none;
    padding: 20px;
    cursor: pointer;
    margin: 10px 0;
    text-align: center;
    width: 100px;
    height: 20px;
    border-radius: 10px;
}
.btn2{
    background-color: #007BFF;
    color: aliceblue;
    border: none;
    padding: 20px;
    cursor: pointer;
    margin: 10px 0;
    text-align: center;
    width: 100px;
    height: 20px;
    border-radius: 10px;
}



/* Style the table inside .btn2 */
.table {
    border-color: black;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

/* Style the individual elements inside the table */
.budget, .deliver, .service {
    text-align: center;
}

/* Style the title and description */
h4 {
    margin-top: 10px;
    font-size: 18px;
}

p {
    font-size: 16px;
}
